/*container {*/
    /*display: inline-grid;*/
    /*float: top;*/
/*}*/
.title {
    /*width: 25%;*/
    /*align-content: center;*/
    margin-top: 25px;
}
.images {
    width: 75%;
    align-content: center;
}
.imgBorder {
    border: 1px solid black;
    display:inline-block;
}
.rowSpacer {
    margin-top: 25px;
    margin-bottom: 25px;
}
.divLemonade{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    text-align: center;
}

