<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>BetaAde Online Store: Confirmation Page</title>
        <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{/style.css}"/>
        <script type="text/javascript" th:src="@{/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/client.js}"></script>
        <script type="text/javascript" th:src="@{/confirm.js}"></script>
    </head>
    <body>
      <div class="container">
            <div class="titleParent">
                <div class="titleChild">
                    <img th:src="@{'/images/' + ${'title'} + '.png'}" alt="png" />
                </div>
            </div>
            <div class="textParent">
                <div class="indexHeaderDiv">
                    <p class="indexHeaderText">Order Confirmation</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 box">
                    <p class="name lead text-center">Product</p>
                </div>
                <div class="col-md-2 box">
                    <p class="name lead text-center">Price</p>
                </div>
                <div class="col-md-2 box">
                    <p class="name lead text-center">Order Qty.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 box">
                    <p id="Nam1" class="name lead text-center">Lemonade</p>
                </div>
                <div class="col-md-2 box">
                    <p id="Cst1" data-p1 ="1.50"  class="name lead text-center">1.50</p>
                </div>
                <div class="col-md-2 box">
                    <input id="Qty1" type="text" placeholder="Enter Qty"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 box">
                    <p id="Nam2" class="name lead text-center">Limeade</p>
                </div>
                <div class="col-md-2 box">
                    <p id="Cst2" data-p2 ="2.00"  class="name lead text-center">2.00</p>
                </div>
                <div class="col-md-2 box">
                    <input id="Qty2" type="text" placeholder="Enter Qty"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 box">
                    <p id="Nam3" class="name lead text-center">Pink Lemonade</p>
                </div>
                <div class="col-md-2 box">
                    <p id="Cst3" data-p3 ="2.50" class="name lead text-center">2.50</p>
                </div>
                <div class="col-md-2 box">
                    <input id="Qty3" type="text" placeholder="Enter Qty"/>
                </div>

            </div>
            <div class="textParent">
              <div class="textChild">
              </div>
              <div class="textChild">
                  <button onclick="goToHome()" class="btn btn-info">Back to Home</button>
              </div>
              <div class="textChild">
              </div>
            </div>
        </div>
    </body>
</html>