<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>BetaAde Online Store: Customer Information</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/client.js}"></script>
    <script type="text/javascript" th:src="@{/customerInfo.js}"></script>
</head>
<body>
<div class="container">
    <div class="titleParent">
        <div class="titleChild">
            <img th:src="@{'/images/' + ${'title'} + '.png'}" alt="png" />
        </div>
    </div>
    <div class="textParent">
        <div class="indexHeaderDiv">
            <p class="indexHeaderText">Customer Shipping/Payment</p>
        </div>
    </div>
    <div class="custInputSection">
        <div th:class="col-md-auto">
            <form th:class="custInputField">
                <input type="text" id="inputName" placeholder="Enter Customer Name"/>
                <p th:class="custInputText">Customer Name</p>
                <input type="text" id="inputStreet" placeholder="Enter Address"/>
                <p th:class="custInputText">Street</p>
                <input type="text" id="inputCtySteZip" placeholder="Enter City"/>
                <p th:class="custInputText">City/State/Zip</p>
                <select name="Payment Type" size="0" id="inputCardType">
                    <option value="visa">Visa</option>
                    <option value="mastercard">Mastercard</option>
                    <option value="amEx">AmEx</option>
                    <option value="discover">Discover</option>
                </select>
                <!--<input type="text" id="inputPayType" placeholder="Enter Payment Type"/>-->
                <p th:class="custInputText">Payment Type</p>
                <input type="number" min="12" max="16" id="inputPayCard" placeholder="################" class="cardNumber" />
                <p th:class="custInputText">Card Number</p>
            </form>
        </div>
    </div>
    <div class="textParent">
        <!--<div class="textChild">-->
            <!--<button class="btn btn-info btnHome" onclick="goToShopping()" id="btnShopPage">Back to Shop</button>-->
        <!--</div>-->
        <!--<div class="textChild" style="margin-left: 35px; margin-right: 35px">-->
            <!--<p class="itemText" id="pageFeedback"></p>-->
        <!--</div>-->
        <div class="textChild">
            <button class="btn btn-info btnHome" onclick="goToSummary()" id="btnConfirm">See Cart</button>
        </div>

    </div>
</div>
</body>
</html>