<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>BetaAde Online Store: Customer Information</title>
        <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{/style.css}"/>
        <script type="text/javascript" th:src="@{/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/client.js}"></script>
        <script type="text/javascript" th:src="@{/customerInfo.js}"></script>
    </head>
    <body>
        <div class="container">
            <div class="titleParent">
                <div class="titleChild">
                    <img th:src="@{'/images/' + ${'title'} + '.png'}" alt="png" />
                </div>
            </div>
            <div class="textParent">
                <div class="indexHeaderDiv">
                    <p class="indexHeaderText">Customer Shipping/Payment</p>
                </div>
            </div>
            <div class="custInputSection">
                <div th:class="col-md-auto">
                    <form th:class="custInputField">
                        <input type="number" id="inputName" placeholder="Quantity"/>
                        <p th:class="custInputText">Customer Name</p>
                        <input type="number" id="inputAdd1" placeholder="Quantity"/>
                        <p th:class="custInputText">Address 1</p>
                        <input type="number" id="inputAdd2" placeholder="Quantity"/>
                        <p th:class="custInputText">Address 2</p>
                        <input type="number" id="inputPayType" placeholder="Quantity"/>
                        <p th:class="custInputText">Payment Type</p>
                        <input type="number" id="inputPayCard" placeholder="Quantity"/>
                        <p th:class="custInputText">Card Number</p>
                    </form>
                </div>
            </div>
            <div class="textParent">
                <div class="textChild">
                    <button class="btn btn-info btnHome" onclick="goToShopping()" id="btnShopPage">Back to Shop</button>
                </div>
                <div class="textChild" style="margin-left: 35px; margin-right: 35px">
                    <p class="itemText" id="pageFeedback"></p>
                </div>
                <div class="textChild">
                    <button class="btn btn-info btnHome" onclick="goToSummary()" id="btnConfirm">See Cart</button>
                </div>

            </div>
        </div>
    </body>
</html>