<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>BetaAde Online Store: Order History</title>
        <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{/style.css}"/>
        <script type="text/javascript" th:src="@{/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/historypage.js}"></script>
        <script type="text/javascript" th:src="@{/client.js}"></script>
    </head>
    <body>
        <div class="container">
            <div class="titleParent">
                <div class="titleChild">
                    <img th:src="@{'/images/' + ${'title'} + '.png'}" alt="png" />
                </div>
            </div>
            <div class="textParent">
                <div class="indexHeaderDiv">
                    <p class="indexHeaderText">Order History</p>
                </div>
            </div>
            <div class="imagesParent">
                <div class="imagesChild">
                    <button class="btn btn-info" onclick="goToHome()">Back to Home</button>
                </div>
            </div>
            <div id="divhistory">
                <div class="row">
                    <div class="col-md-2 card box">
                        <p>Order Date</p>
                    </div>
                    <div class="col-md-2 card box">
                        <p>Order Number</p>
                    </div>
                    <div class="col-md-1 card box">
                        <p>Customer</p>
                    </div>
                    <div class="col-md-1 card box">
                        <p>Total Lemonades</p>
                    </div>
                    <div class="col-md-1 card box">
                        <p>Total Limeades</p>
                    </div>
                    <div class="col-md-1 card box">
                        <p>Total Pink Lemonades</p>
                    </div>
                    <div class="col-md-2 card box">
                        <p>Total Order Qty</p>
                    </div>
                    <div class="col-md-2 card box">
                        <p>Total Order Cost</p>
                    </div>
                </div>
            </div>
            <div class="row" th:each="order : ${orderlist}">
                <div class="col-md-2 card box">
                    <p th:text="${order.ordDate}"></p>
                </div>
                <div class="col-md-2 card box">
                    <p th:text="${order.ordNum}"></p>
                </div>
                <div class="col-md-1 card box">
                    <p th:text="${order.custName}"></p>
                </div>
                <div class="col-md-1 card box">
                    <p th:text="${order.totLemon}"></p>
                </div>
                <div class="col-md-1 card box">
                    <p th:text="${order.totLime}"></p>
                </div>
                <div class="col-md-1 card box">
                    <p th:text="${order.totPink}"></p>
                </div>
                <div class="col-md-2 card box">
                    <p th:text="${order.totQty}"></p>
                </div>
                <div class="col-md-2 card box">
                    <p th:text="${order.totCost}"></p>
                </div>
            </div>
        </div>
    </body>
</html>