<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>BetaAde Online Store: Order History</title>
        <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{/style.css}"/>
        <script type="text/javascript" th:src="@{/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/client.js}"></script>
        <script type="text/javascript" th:src="@{/confirm.js}"></script>
        <script type="text/javascript" th:src="@{/history.js}"></script>
    </head>
    <body>
        <div class="container">
            <div class="titleParent">
                <div class="titleChild">
                    <img th:src="@{'/images/' + ${'title'} + '.png'}" alt="png" />
                </div>
            </div>
            <div class="textParent">
                <div class="indexHeaderDiv">
                    <p class="indexHeaderText">Order History</p>
                </div>
            </div>
            <div id="divhistory">
                <div id="colhdgs" class="row">
                    <div class="col-md-2 box">
                        <p class="colhdg lead text-center">Order Date</p>
                    </div>
                    <div class="col-md-2 box">
                        <p class="colhdg lead text-center">Order Number</p>
                    </div>
                    <div class="col-md-2 box">
                        <p class="colhdg lead text-center">Customer</p>
                    </div>
                    <div class="col-md-2 box">
                        <p class="colhdg lead text-center">Total Qty.</p>
                    </div>
                    <div class="col-md-2 box">
                        <p class="colhdg lead text-center">Total Cost</p>
                    </div>
                </div>
                <div class="row" th:each="entry : ${orderlist}">
                    <div class="col-md-2 box">
                        <p th:text="${entry.ordDate}"></p>
                    </div>
                    <div class="col-md-2 box">
                        <p th:text="${entry.ordNum}"></p>
                    </div>
                    <div class="col-md-2 box">
                        <p th:text="${entry.custName}"></p>
                    </div>
                    <div class="col-md-2 box">
                        <p th:text="${entry.totQty}"></p>
                    </div>
                    <div class="col-md-2 box">
                        <p th:text="${entry.totCost}"></p>
                    </div>
                </div>
            </div>
            <div class="textParent">
                <div class="textChild">
                </div>
                <div class="textChild">
                    <button onclick="goHome()" class="btn btn-info">Back to Home</button>
                </div>
                <div class="textChild">
                </div>
            </div>
        </div>
    </body>
</html>