<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>BetaAde Online Store</title>
        <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{/styleShopping.css}"/>
        <script type="text/javascript" th:src="@{/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/client.js}"></script>
        <script type="text/javascript" th:src="@{/shoppingPage.js}"></script>

    </head>
    <body>
        <div class="container">
            <div class="titleParent">
                <div class="titleChild">
                    <img th:src="@{'/images/' + ${'title'} + '.png'}" alt="png" />
                </div>
            </div>
            <div class="imagesParent">
                <div class="imagesChild">
                    <img th:src="@{'/images/' + ${'lemonade'} + '.png'}" alt="png" />
                </div>
                <div class="imagesChild">
                    <img th:src="@{'/images/' + ${'limeade'} + '.png'}" alt="png" />
                </div>
                <div class="imagesChild">
                    <img th:src="@{'/images/' + ${'pinklemonaid'} + '.png'}" alt="png" />
                </div>
            </div>
            <div class="textParent">
                <div class="textChild">
                    <form>
                        <p class="itemText">Best Lemonade Ever!</p>
                        <input class="orderInput" type="number" id="inputLemon" placeholder="Quantity"/>
                    </form>
                    <button class="btn btn-info btnWidth" onclick="addLemonade()" id="btnAddLemon">Add</button>
                    <button class="btn btn-info btnWidth" onclick="remLemonade()" id="btnRemLemon">Remove</button>
                    <p class="itemTotals" id="txtQtyLemon">Quantity in Cart:</p>
                    <p class="itemTotals" id="txtCstLemon">Cost in Cart:</p>
                </div>
                <div class="textChild" style="margin-left: 35px; margin-right: 35px">
                    <form>
                        <p class="itemText">Delicious Limeade!</p>
                        <input class="orderInput" type="number" id="inputLime" placeholder="Quantity"/>
                    </form>
                    <button class="btn btn-info btnWidth" onclick="addLime()" id="btnAddLime">Add</button>
                    <button class="btn btn-info btnWidth" onclick="remLime()" id="btnRemLime">Remove</button>
                    <p class="itemTotals" id="txtQtyLime">Quantity in Cart:</p>
                    <p class="itemTotals" id="txtCstLime">Cost in Cart:</p>
                </div>
                <div class="textChild">
                    <form>
                        <p class="itemText">Great Pink Lemonade!</p>
                        <input class="orderInput" type="number" id="inputPink" placeholder="Quantity"/>
                    </form>
                    <button class="btn btn-info btnWidth" onclick="addPink()" id="btnAddPink">Add</button>
                    <button class="btn btn-info btnWidth" onclick="remPink()" id="btnRemPink">Remove</button>
                    <p class="itemTotals" id="txtQtyPink">Quantity in Cart:</p>
                    <p class="itemTotals" id="txtCstPink">Cost in Cart:</p>
                </div>
            </div>
            <div class="textParent">
                <div class="textChild">
                    <button class="btn btn-info" onclick="remLemonade()" id="btnHistory">See Order History</button>
                </div>
                <div class="textChild" style="margin-left: 35px; margin-right: 35px">
                    <p class="itemText" id="pageFeedback"></p>
                </div>
                <div class="textChild">
                    <button class="btn btn-info" onclick="goToCust()" id="btnCustPage">Confirm Cust Info</button>                </div>
            </div>
        </div>
    </body>
</html>