<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>BetaAde Online Store: Summary Page</title>
        <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{/style.css}"/>
        <script type="text/javascript" th:src="@{/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/summaryorder.js}"></script>
        <script type="text/javascript" th:src="@{/client.js}"></script>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-2 card box">
                    <p>Order Date</p>
                </div>
                <div class="col-md-2 card box">
                    <p>Order Number</p>
                </div>
                <div class="col-md-2 card box">
                    <p>Customer Name</p>
                </div>
                <div class="col-md-2 card box">
                    <p>Total Lemonade</p>
                </div>
                <div class="col-md-2 card box">
                    <p>Total Limeade</p>
                </div>
                <div class="col-md-2 card box">
                    <p>Total Pink Lemonade</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 card box">
                    <p th:text="${order.ordDate}"></p>
                </div>
                <div class="col-md-2 card box">
                    <p th:text="${order.ordNum}"></p>
                </div>
                <div class="col-md-2 card box">
                    <p th:text="${order.custName}" id="txtCustName"></p>
                    <!--<output class="outCustName" text="${order.custName}" type="text" id="txtCustName"/>-->
                </div>
                <div class="col-md-2 card box">
                    <p th:text="${order.totLemon}"></p>
                </div>
                <div class="col-md-2 card box">
                    <p th:text="${order.totLime}"></p>
                </div>
                <div class="col-md-2 card box">
                    <p th:text="${order.totPink}"></p>
                </div>
            </div>
        </div>
       <button onclick="goToCust()" class="btn btn-info" id="btnCustPage">Back</button>
       <button onclick="sumConfirm()" class="btn btn-info" id="btnConfirm">PlaceOrder</button>
    </body>
</html>