<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>BetaAde Online Store: Summary Page</title>
        <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{/style.css}"/>
        <script type="text/javascript" th:src="@{/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/client.js}"></script>
    </head>
    <body>
        <div class="container">
            <div class="titleParent">
                <div class="titleChild">
                    <img th:src="@{'/images/' + ${'title'} + '.png'}" alt="png" />
                </div>
            </div>
            <div class="textParent">
                <div class="indexHeaderDiv">
                    <p class="indexHeaderText">Order Summary/Checkout</p>
                </div>
            </div>
            <div class="textParent">
                <div class="textChild">
                    <button class="btn btn-info" onclick="goToCust()" id="btnCustPage">Back to Cust Info</button>
                </div>
                <div class="textChild" style="margin-left: 35px; margin-right: 35px">
                    <p class="itemText" id="pageFeedback"></p>
                </div>
                <div class="textChild">
                    <button class="btn btn-info" onclick="goToConfirm()" id="btnConfirm">Place Order...</button>
                </div>
            </div>
        </div>
    </body>
</html>